<h1>Hello from hell!</h1>

<p>Here is where the products are:</h1>

<%JSON.parse(HTTParty.get('https://fakestoreapi.com/products').body).each do |product|%>
    <div>
    <br>
        <p>Name: <%=product["title"]%></p>
        <p>Price(USD): <%=product["price"]%></p>
        <p>Description: <%=product["description"]%></p>
        <p>Category: <%=product["category"]%></p>
        <img src=<%=product["image"]%>>
        <p>Rating: <%=product["rating"]["rate"]%></p>
    <br>
    </div>
<%end%>


