<h1>Welcome, <%=@user[:username]%></h1>
<p>Member since: <%=@user[:created_at]%></p>
<p>Your Cart:</p>
<%if Current.user.items.empty?%>
  <p>Nothing in cart. Let's do some shopping!</p>
<%else%>
  <%Current.user.items.each do |item|%>
    <div>
      <h2><%=item["title"]%></h2>
      <img src=<%=item["image"]%>>
      <h3><%=item["price"]%></h3>
      <%=link_to "Remove from Cart", [@user, item], data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' }%>
    </div>
  <%end%>
  <h3>Total Price: <%=Current.user.items.reduce(0) {|sum, item| sum + item["price"].to_d}%></h3>
<%end%>
<%=link_to "Edit Profile |", edit_user_path%>
<%=link_to "Delete Profile |", user_path(Current.user), data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' }%>
<%=link_to "Back to Home", root_path%>
