<%if Current.user%>
  <h1>Welcome, <%=Current.user.username%></h1>
  <%=link_to "Show Profile", user_path(Current.user)%>
  <%=link_to "Sign Out", login_path, method: :delete%>
<%else%>
  <h1>Welcome, Guest</h1>
  <%=link_to "Login |", login_path%>
  <%=link_to "Sign Up", new_user_path%>
<%end%>
<%if @data == "ERROR"%>
  <p>Whoops! Looks like something went wrong on the store's end. Try refreshing the page.</p>
<%else%>
  <div class="container d-flex flex-wrap">
    <%@data.each do |product|%>
      <div class="col col-12 col-sm-6 col-xl-4 my-2">
        <div class="card my-3 w-100 h-100 d-flex align-items-center justify-content-center">
          <img src=<%=product["image"]%> class="card-img-top my-3 w-50 h-50" alt="Product image">
          <div class="card-body text-left w-100">
            <h5 class="card-title"><%=product["title"]%></h5>
            <p class="card-text">Price(USD): <%=product["price"].to_d.round.to_s + ".99"%></p>
            <%=link_to "See Product", store_path(id: product["id"])%>
          </div>
        </div>
      </div>
    <%end%>
  </div>
<%end%>
